// colors
$accentColor = #7B69C8
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$backgroundColor = #fff
$backgroundDimColor = #fffc

$bitBackgroundColor = #f3f6f8
$liteBordardColor = #999

$indexEMColor = #808080

$subBorderColor = #ddd
$subBorder2Color = #eee
$algolia2Color = #555
$algoliaColor = #2c815b
$algoliaBGColor = #f1f3f5
$algoliaBG2Color = #e7edf3
$pageEditColor = #767676
$codeColor = #ec5975
$customBlocksBGColor = #f3f5f7
$customBlocksBG2Color = #ffe6e6
$customBlocksWarnColor = #ffe564
$indexBorderColor = #dfe2e5
$indexBGColor = #f6f8fa


//dark mode colors
$accentDarkColor = #CEC3FF
$textDarkColor = #f1f3f5
$borderDarkColor = #606060
$borderFarmworkDarkColor = #151310
$codeBgDarkColor = #282c34
$arrowBgDarkColor = #ccc
$badgeTipDarkColor = #42b983
$badgeWarningDarkColor = darken(#ffe564, 35%)
$badgeErrorDarkColor = #DA5961

$backgroundDarkColor = #343a40
$backgroundDimDarkColor = #0006
$backgroundNavBarDarkColor = #343a40

$bitBackgroundDarkColor = #f3f6f8
$liteBordardDarkColor = #ddd

$indexEMDarkColor = #808080

$subBorderDarkColor = #333
$subBorder2DarkColor = #343A40
$algolia2DarkColor = #555
$algoliaDarkColor = #2c815b
$algoliaBGDarkColor = #f1f3f5
$algoliaBG2DarkColor = #e7edf3
$pageEditDarkColor = #eee
$codeDarkColor = #ec5975
$customBlocksBGDarkColor = #282c34
$customBlocksBG2DarkColor = #ffe6e6
$customBlocksWarnDarkColor = #ffe564
$indexBorderDarkColor = #dfe2e5
$indexBGDarkColor = #282c34



// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 1000px
$MQMobile = 719px
$MQMobileNarrow = 419px
