// placeholder for test, dont't remove it.

//.content {
//  font-size 30px;
//}

pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: $badgeTipColor;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: $badgeTipColor !important;
      padding: 3px 5px;
      border-radius: 3px;
      color $indexTextColor
    em
      color $indexEMColor
      font-weight light

body.darkmode
  pre.vue-container
    border-color: $badgeTipColor;
    & > code
      code
        background-color: $badgeTipColor !important;
        color $indexTextColor
      em
        color $indexEMColor

